{% extends "bootstrap/base.html" %}

{% block content %}
{% include "header.html" %}
<!--    SocketIO-->
<title>Flask-SocketIO Test</title>
<script charset="utf-8" type="text/javascript">

        $(document).ready(function () {
                var socket = io('http://localhost:5000//worker_chat');
                socket.on('sys_response', function (msg) {
                        $('#msg_log').append('<p>Message: ' + msg.data + '</p>')
                });
                $('form#to_reply').submit(function () {
                        socket.emit('room_event', { data: $('#emit_data').val() });
                        return false;
                });
                socket.on('worker_response', function (msg) {
                        $('#msg_log').append('<p>' + msg.current_user + ':' + msg.data + '</p>')
                })
        });

</script>
<h1>Chat Room for Workers</h1>
<form id="to_reply" action='#' method="POST">
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Reply">
</form>
<div id="msg_log"></div>

{% include "footer.html" %}
{% endblock %}